<div class="row">
    <div class="col-md-12">
        <h1>{{session.user.userName}} &#40;{{session.user.email}}&#41; History</h1>
        <hr>
        {{#if errorMessage}}
        <div class="alert alertdanger"> 
            <strong>Error:</strong> {{errorMessage}}
        </div>
        <br>
        {{/if}}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Login Date/Time</th>
                    <th>Client Information</th>
                </thead>
                <tbody>
                    {{#each login}}
                    <tr>
                        <td>{{dateTime}}</td>
                        <td>{{userAgent}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>